examples/connect to semilimes flow.json
[
    {
        "id": "4c24277b1c71d0d4",
        "type": "tab",
        "label": "connect to semilimes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6cea875861733bb5",
        "type": "sme-listener",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "connector": "935c6425dd554e13",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "0167a6196337dee4"
            ]
        ]
    },
    {
        "id": "98351eae75b70ebc",
        "type": "sme-post",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "connector": "935c6425dd554e13",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "fdf4e93b7e22a5bd",
        "type": "sme-text",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "reference": "",
        "text": "This is a text message.",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "98351eae75b70ebc"
            ]
        ]
    },
    {
        "id": "302cd22a50548f27",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "fdf4e93b7e22a5bd"
            ]
        ]
    },
    {
        "id": "0167a6196337dee4",
        "type": "debug",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "033dfdd0c21a139d",
        "type": "comment",
        "z": "4c24277b1c71d0d4",
        "name": "Configure 'Connection' property of the 'semilimes listener' node to setup connection to semilimes.",
        "info": "",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "01ebd540f811479a",
        "type": "comment",
        "z": "4c24277b1c71d0d4",
        "name": "This flow can send and receive messages with semilimes.",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "935c6425dd554e13",
        "type": "sme-connector",
        "name": "",
        "server": "b2623b38c0fed7d0",
        "appName": "Node-RED",
        "reservedCode": "",
        "applicationID": ""
    },
    {
        "id": "b2623b38c0fed7d0",
        "type": "sme-server",
        "name": "",
        "host": "cloud.semilimes.net"
    }
]