examples/send form message flow.json
[
    {
        "id": "4c24277b1c71d0d4",
        "type": "tab",
        "label": "send form message",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "033dfdd0c21a139d",
        "type": "comment",
        "z": "4c24277b1c71d0d4",
        "name": "Configure 'Connector' property of the 'semilimes listener' node to setup connection to semilimes.",
        "info": "",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "0e3ef629c89fc04f",
        "type": "sme-form",
        "z": "4c24277b1c71d0d4",
        "reference": "MyForm",
        "formStatus": "1",
        "submitButtonText": "Submit",
        "x": 940,
        "y": 720,
        "wires": [
            [
                "8b2ec883fbfd752b"
            ]
        ]
    },
    {
        "id": "e02957e08672ec99",
        "type": "comment",
        "z": "4c24277b1c71d0d4",
        "name": "Use a form message and combine items to create complex form.",
        "info": "",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "f405a1a5c1f4ac0d",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "22360ea23dd539f6"
            ]
        ]
    },
    {
        "id": "22360ea23dd539f6",
        "type": "sme-singlechoice",
        "z": "4c24277b1c71d0d4",
        "name": "Breakfast",
        "title": "Which one do you prefer?",
        "choice1": "option 1",
        "choice2": "option 2",
        "choice3": "option 3",
        "choice4": "",
        "choice5": "",
        "choice6": "",
        "required": "0",
        "x": 900,
        "y": 200,
        "wires": [
            [
                "02be98875c8a9e70"
            ]
        ]
    },
    {
        "id": "02be98875c8a9e70",
        "type": "sme-multichoice",
        "z": "4c24277b1c71d0d4",
        "name": "Drinks",
        "title": "Which ones do you prefer?",
        "choice1": "option 1",
        "choice2": "option 2",
        "choice3": "option 3",
        "choice4": "",
        "choice5": "",
        "choice6": "",
        "required": "0",
        "x": 890,
        "y": 240,
        "wires": [
            [
                "1db34413316f2ac6"
            ]
        ]
    },
    {
        "id": "70dcdea5a6b7ff7a",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "02be98875c8a9e70"
            ]
        ]
    },
    {
        "id": "07a9e7ac4689a13f",
        "type": "sme-toggle",
        "z": "4c24277b1c71d0d4",
        "name": "Sex",
        "title": "Sex",
        "value": "true",
        "valueType": "bool",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "be03f40aa6f567ac"
            ]
        ]
    },
    {
        "id": "70f958175b797077",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "07a9e7ac4689a13f"
            ]
        ]
    },
    {
        "id": "1db34413316f2ac6",
        "type": "sme-textbox",
        "z": "4c24277b1c71d0d4",
        "name": "Comments",
        "title": "This comment will be updated.",
        "value": "",
        "required": "0",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "07a9e7ac4689a13f"
            ]
        ]
    },
    {
        "id": "c8d4ca38674d3058",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "1db34413316f2ac6"
            ]
        ]
    },
    {
        "id": "be03f40aa6f567ac",
        "type": "sme-slider",
        "z": "4c24277b1c71d0d4",
        "name": "Age",
        "title": "Age",
        "min": "0",
        "max": "100",
        "step": "5",
        "value": "20",
        "valueType": "num",
        "x": 890,
        "y": 360,
        "wires": [
            [
                "0b85f6189fa4b0f0"
            ]
        ]
    },
    {
        "id": "7ff0ccf2e30307b0",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 360,
        "wires": [
            [
                "be03f40aa6f567ac"
            ]
        ]
    },
    {
        "id": "d31f2ea9d7d3006f",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "64a4dcffbb1fad38"
            ]
        ]
    },
    {
        "id": "0b85f6189fa4b0f0",
        "type": "sme-datepicker",
        "z": "4c24277b1c71d0d4",
        "name": "Birthday",
        "title": "Birthday",
        "buttonText": "",
        "required": "0",
        "x": 900,
        "y": 400,
        "wires": [
            [
                "fa543b0d24daca4c"
            ]
        ]
    },
    {
        "id": "cdd6b4e5695a49e7",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "0b85f6189fa4b0f0"
            ]
        ]
    },
    {
        "id": "fa543b0d24daca4c",
        "type": "sme-timepicker",
        "z": "4c24277b1c71d0d4",
        "name": "Time",
        "title": "Time",
        "buttonText": "",
        "required": "0",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "17279ef7f2ccb606"
            ]
        ]
    },
    {
        "id": "49eaeb065e4091a4",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "fa543b0d24daca4c"
            ]
        ]
    },
    {
        "id": "64a4dcffbb1fad38",
        "type": "sme-label",
        "z": "4c24277b1c71d0d4",
        "name": "Welcome",
        "text": "This is a label message.\nAnd this is the second line.",
        "x": 900,
        "y": 160,
        "wires": [
            [
                "22360ea23dd539f6"
            ]
        ]
    },
    {
        "id": "922baff8785756ef",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 480,
        "wires": [
            [
                "17279ef7f2ccb606"
            ]
        ]
    },
    {
        "id": "17279ef7f2ccb606",
        "type": "sme-locationpicker",
        "z": "4c24277b1c71d0d4",
        "name": "OfficeLocation",
        "title": "Office Location",
        "buttonText": "Select location",
        "currentLocationOnly": "1",
        "required": "0",
        "x": 920,
        "y": 480,
        "wires": [
            [
                "dde2213abb585a13"
            ]
        ]
    },
    {
        "id": "dde2213abb585a13",
        "type": "sme-filepicker",
        "z": "4c24277b1c71d0d4",
        "name": "Resume",
        "title": "Title",
        "buttonText": "Select files",
        "required": "0",
        "x": 900,
        "y": 520,
        "wires": [
            [
                "95f1bc2c6ba7845b"
            ]
        ]
    },
    {
        "id": "4280ab1724ac9c0b",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "dde2213abb585a13"
            ]
        ]
    },
    {
        "id": "95f1bc2c6ba7845b",
        "type": "sme-photopicker",
        "z": "4c24277b1c71d0d4",
        "name": "Avatar",
        "title": "Avatar",
        "buttonText": "Select photos",
        "required": "0",
        "x": 890,
        "y": 560,
        "wires": [
            [
                "5017ea6465b610ee"
            ]
        ]
    },
    {
        "id": "e96bca86b2f226d0",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "95f1bc2c6ba7845b"
            ]
        ]
    },
    {
        "id": "5017ea6465b610ee",
        "type": "sme-contactpicker",
        "z": "4c24277b1c71d0d4",
        "name": "Contacts",
        "title": "Select contacts",
        "buttonText": "Select contacts",
        "required": "0",
        "x": 900,
        "y": 600,
        "wires": [
            [
                "bc7bf33ff23a68cb"
            ]
        ]
    },
    {
        "id": "d8393b37bde424f2",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 600,
        "wires": [
            [
                "5017ea6465b610ee"
            ]
        ]
    },
    {
        "id": "bc7bf33ff23a68cb",
        "type": "sme-conversationpicker",
        "z": "4c24277b1c71d0d4",
        "name": "QAs",
        "title": "Questions & Answers",
        "buttonText": "Select conversations",
        "required": "0",
        "x": 890,
        "y": 640,
        "wires": [
            [
                "1c4393e1a28a9361"
            ]
        ]
    },
    {
        "id": "ce203a6e8c22821f",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 640,
        "wires": [
            [
                "bc7bf33ff23a68cb"
            ]
        ]
    },
    {
        "id": "d119386321936a82",
        "type": "sme-listener",
        "z": "4c24277b1c71d0d4",
        "connector": "d41b83de71e38c79",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "c2964fe9e06aa375"
            ]
        ]
    },
    {
        "id": "c2964fe9e06aa375",
        "type": "sme-formsubmission",
        "z": "4c24277b1c71d0d4",
        "reference": "MyForm",
        "storage": "payload",
        "storageType": "msg",
        "x": 460,
        "y": 1060,
        "wires": [
            [
                "b8394cfc5fd1143f"
            ]
        ]
    },
  {
    "id": "b8394cfc5fd1143f",
    "type": "debug",
    "z": "4c24277b1c71d0d4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 1060,
    "wires": []
  },
    {
        "id": "a4f098a3d70503c7",
        "type": "sme-sender",
        "z": "4c24277b1c71d0d4",
        "connector": "d41b83de71e38c79",
        "async": "1",
        "x": 1130,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "8b2ec883fbfd752b",
        "type": "sme-messageoption",
        "z": "4c24277b1c71d0d4",
        "messageMode": "ReplaceByReference",
        "x": 840,
        "y": 960,
        "wires": [
            [
                "a4f098a3d70503c7"
            ]
        ]
    },
    {
        "id": "1c4393e1a28a9361",
        "type": "sme-buttonlist",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "title": "Which one do you prefer?",
        "button1": "button 1",
        "button2": "button 2",
        "button3": "button 3",
        "button4": "",
        "button5": "",
        "button6": "",
        "required": "0",
        "x": 900,
        "y": 680,
        "wires": [
            [
                "0e3ef629c89fc04f"
            ]
        ]
    },
    {
        "id": "5d90f8caa498694a",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 680,
        "wires": [
            [
                "1c4393e1a28a9361"
            ]
        ]
    },
    {
        "id": "849904352b75ce16",
        "type": "sme-singlechoice",
        "z": "4c24277b1c71d0d4",
        "name": "Breakfast",
        "title": "Which one do you prefer?",
        "choice1": "option 1",
        "choice2": "option 2",
        "choice3": "option 3",
        "choice4": "",
        "choice5": "",
        "choice6": "",
        "required": "0",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "ca8f0ca651a77ebd"
            ]
        ]
    },
    {
        "id": "ca8f0ca651a77ebd",
        "type": "sme-multichoice",
        "z": "4c24277b1c71d0d4",
        "name": "Drinks",
        "title": "Which ones do you prefer?",
        "choice1": "option 1",
        "choice2": "option 2",
        "choice3": "option 3",
        "choice4": "",
        "choice5": "",
        "choice6": "",
        "required": "0",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "6e13977e0623ebd5"
            ]
        ]
    },
    {
        "id": "3b5f386dfa329d72",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "6e13977e0623ebd5"
            ]
        ]
    },
    {
        "id": "b5e99d86e55d828b",
        "type": "sme-toggle",
        "z": "4c24277b1c71d0d4",
        "name": "Sex",
        "title": "Sex",
        "value": "true",
        "valueType": "bool",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "7b2d29909035c094"
            ]
        ]
    },
    {
        "id": "96f6db22b7d3834a",
        "type": "sme-textbox",
        "z": "4c24277b1c71d0d4",
        "name": "Comments",
        "title": "This comment will be updated.",
        "value": "",
        "required": "0",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "b5e99d86e55d828b"
            ]
        ]
    },
    {
        "id": "7b2d29909035c094",
        "type": "sme-slider",
        "z": "4c24277b1c71d0d4",
        "name": "Age",
        "title": "Age",
        "min": "0",
        "max": "100",
        "step": "5",
        "value": "20",
        "valueType": "num",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "56aa6f4f255fd17b"
            ]
        ]
    },
    {
        "id": "76663dd8fe63e318",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "a12fd0205c8218d5"
            ]
        ]
    },
    {
        "id": "1ccf6a185265d4e3",
        "type": "sme-datepicker",
        "z": "4c24277b1c71d0d4",
        "name": "Birthday",
        "title": "Birthday",
        "buttonText": "",
        "required": "0",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "7035bfb20237af3e"
            ]
        ]
    },
    {
        "id": "7035bfb20237af3e",
        "type": "sme-timepicker",
        "z": "4c24277b1c71d0d4",
        "name": "Time",
        "title": "Time",
        "buttonText": "",
        "required": "0",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "3a2c89319d4367b9"
            ]
        ]
    },
    {
        "id": "4a054247a6d234d9",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "56aa6f4f255fd17b"
            ]
        ]
    },
    {
        "id": "ab34cd158b468927",
        "type": "sme-label",
        "z": "4c24277b1c71d0d4",
        "name": "Welcome",
        "text": "This is a label message.\nAnd this is the second line.",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "849904352b75ce16"
            ]
        ]
    },
    {
        "id": "3a2c89319d4367b9",
        "type": "sme-locationpicker",
        "z": "4c24277b1c71d0d4",
        "name": "OfficeLocation",
        "title": "Office Location",
        "buttonText": "Select location",
        "currentLocationOnly": "1",
        "required": "0",
        "x": 400,
        "y": 640,
        "wires": [
            [
                "34f7aaa28dbb93d8"
            ]
        ]
    },
    {
        "id": "6b309a9efb2a7fee",
        "type": "sme-filepicker",
        "z": "4c24277b1c71d0d4",
        "name": "Resume",
        "title": "Title",
        "buttonText": "Select files",
        "required": "0",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "1cc889a57a1a871f"
            ]
        ]
    },
    {
        "id": "1cc889a57a1a871f",
        "type": "sme-photopicker",
        "z": "4c24277b1c71d0d4",
        "name": "Avatar",
        "title": "Avatar",
        "buttonText": "Select photos",
        "required": "0",
        "x": 370,
        "y": 780,
        "wires": [
            [
                "9aa18c22fec0690a"
            ]
        ]
    },
    {
        "id": "9c0ab2e4483ede10",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "34f7aaa28dbb93d8"
            ]
        ]
    },
    {
        "id": "9aa18c22fec0690a",
        "type": "sme-contactpicker",
        "z": "4c24277b1c71d0d4",
        "name": "Contacts",
        "title": "Select contacts",
        "buttonText": "Select contacts",
        "required": "0",
        "x": 380,
        "y": 820,
        "wires": [
            [
                "66fce1824a0cec20"
            ]
        ]
    },
    {
        "id": "a6ec45f20d5d45e5",
        "type": "sme-conversationpicker",
        "z": "4c24277b1c71d0d4",
        "name": "QAs",
        "title": "Questions & Answers",
        "buttonText": "Select conversations",
        "required": "0",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "4d471ad9d7229733"
            ]
        ]
    },
    {
        "id": "4d471ad9d7229733",
        "type": "sme-buttonlist",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "title": "Which one do you prefer?",
        "button1": "button 1",
        "button2": "button 2",
        "button3": "button 3",
        "button4": "",
        "button5": "",
        "button6": "",
        "required": "0",
        "x": 380,
        "y": 960,
        "wires": [
            [
                "8b2ec883fbfd752b"
            ]
        ]
    },
    {
        "id": "8d05c3f56f257355",
        "type": "inject",
        "z": "4c24277b1c71d0d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "66fce1824a0cec20"
            ]
        ]
    },
    {
        "id": "a12fd0205c8218d5",
        "type": "sme-form",
        "z": "4c24277b1c71d0d4",
        "reference": "MyForm1",
        "formStatus": "1",
        "submitButtonText": "Submit",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ab34cd158b468927"
            ]
        ]
    },
    {
        "id": "6e13977e0623ebd5",
        "type": "sme-form",
        "z": "4c24277b1c71d0d4",
        "reference": "MyForm2",
        "formStatus": "1",
        "submitButtonText": "Submit",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "96f6db22b7d3834a"
            ]
        ]
    },
    {
        "id": "56aa6f4f255fd17b",
        "type": "sme-form",
        "z": "4c24277b1c71d0d4",
        "reference": "MyForm3",
        "formStatus": "1",
        "submitButtonText": "Submit",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "1ccf6a185265d4e3"
            ]
        ]
    },
    {
        "id": "34f7aaa28dbb93d8",
        "type": "sme-form",
        "z": "4c24277b1c71d0d4",
        "reference": "MyForm4",
        "formStatus": "1",
        "submitButtonText": "Submit",
        "x": 360,
        "y": 700,
        "wires": [
            [
                "6b309a9efb2a7fee"
            ]
        ]
    },
    {
        "id": "66fce1824a0cec20",
        "type": "sme-form",
        "z": "4c24277b1c71d0d4",
        "reference": "MyForm5",
        "formStatus": "1",
        "submitButtonText": "Submit",
        "x": 360,
        "y": 880,
        "wires": [
            [
                "a6ec45f20d5d45e5"
            ]
        ]
    },
    {
        "id": "d41b83de71e38c79",
        "type": "sme-connector",
        "name": "Localhost"
    }
]