examples/send HTML message flow.json
[
    {
        "id": "b3cdbce7fd685999",
        "type": "tab",
        "label": "send HTML message",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4b6e5aa69e5c7a6",
        "type": "sme-listener",
        "z": "b3cdbce7fd685999",
        "connector": "d41b83de71e38c79",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "0ed8d5ebdf79c106"
            ]
        ]
    },
    {
        "id": "9f8f82aaf0406108",
        "type": "inject",
        "z": "b3cdbce7fd685999",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "40c1fa47b4650b75"
            ]
        ]
    },
    {
        "id": "0ed8d5ebdf79c106",
        "type": "debug",
        "z": "b3cdbce7fd685999",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "dd08e517e9a92705",
        "type": "comment",
        "z": "b3cdbce7fd685999",
        "name": "Configure 'Connector' property of the 'semilimes listener' node to setup connection to semilimes.",
        "info": "",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "5df51bed03867ac2",
        "type": "comment",
        "z": "b3cdbce7fd685999",
        "name": "This flow send an HTML message.",
        "info": "[Supported HTML tags](https://github.com/semimob/node-red-connector/blob/main/docs/HtmlMessage.md)",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "40c1fa47b4650b75",
        "type": "sme-htmlmessage",
        "z": "b3cdbce7fd685999",
        "reference": "",
        "html": "<H3><font color=\"blue\"><B>This is an HTML message.</B></font><H3>",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "7c3c2e42861f9ace"
            ]
        ]
    },
    {
        "id": "7c3c2e42861f9ace",
        "type": "sme-sender",
        "z": "b3cdbce7fd685999",
        "connector": "d41b83de71e38c79",
        "async": "1",
        "x": 790,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d41b83de71e38c79",
        "type": "sme-connector",
        "credentials": {}
    }
]