examples/send plain text message flow.json
[
    {
        "id": "44c414e0a3e1053e",
        "type": "tab",
        "label": "send plan text message",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c05e2a567e4086a",
        "type": "sme-listener",
        "z": "44c414e0a3e1053e",
        "connector": "d41b83de71e38c79",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "73075a4518719ab7"
            ]
        ]
    },
    {
        "id": "605b47d61b269cbf",
        "type": "inject",
        "z": "44c414e0a3e1053e",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "fcdaf34fc5113f15"
            ]
        ]
    },
    {
        "id": "73075a4518719ab7",
        "type": "debug",
        "z": "44c414e0a3e1053e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "b0bb221d62513d27",
        "type": "comment",
        "z": "44c414e0a3e1053e",
        "name": "Configure 'Connector' property of the 'semilimes listener' node to setup connection to semilimes.",
        "info": "",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "3323b1264dbbb811",
        "type": "inject",
        "z": "44c414e0a3e1053e",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "ac793cc10cb73b38"
            ]
        ]
    },
    {
        "id": "ccbbed26ee497245",
        "type": "comment",
        "z": "44c414e0a3e1053e",
        "name": "You can use message 'Reference' to update an existing message.",
        "info": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "ac793cc10cb73b38",
        "type": "function",
        "z": "44c414e0a3e1053e",
        "name": "",
        "func": "msg.payload = 'Timestamp - ' + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "e5783cf6484ee556"
            ]
        ]
    },
    {
        "id": "fcdaf34fc5113f15",
        "type": "sme-textmessage",
        "z": "44c414e0a3e1053e",
        "reference": "",
        "text": "This is a text message.",
        "textType": "str",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "73075a4518719ab7",
                "410454b5c6585881"
            ]
        ]
    },
    {
        "id": "e5783cf6484ee556",
        "type": "sme-textmessage",
        "z": "44c414e0a3e1053e",
        "reference": "",
        "text": "This is is a refererened message.",
        "textType": "str",
        "x": 590,
        "y": 440,
        "wires": [
            [
                "410454b5c6585881"
            ]
        ]
    },
    {
        "id": "410454b5c6585881",
        "type": "sme-sender",
        "z": "44c414e0a3e1053e",
        "connector": "d41b83de71e38c79",
        "async": "1",
        "x": 840,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d41b83de71e38c79",
        "type": "sme-connector",
        "credentials": {}
    }
]